.mycustomscrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 300;
}

.tableWrapperScrolly {
  display: block;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #5156aa !important;
  font-weight: 400;
}

tbody {
  color: #2e302f !important;
}

.title {
  margin-bottom: 0;
}

.searchInput {
  border-radius: 50px;
  border: none !important;
  outline: none !important;
}

::placeholder {
  color: #aeb3b1 !important;
  font-weight: 100;
  font-size: 0.9rem;
}